#Api2

Set ThicknessHint = "22px"

include("cpu.source")
include("memory.source")

# Panel layout

layout {

  mirror = "*"
  layer = "top"
  bar_id = "bar-0"

  # Window / workspace indicator
  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }"
    labels = false
    group = pager
    group.icons = true
    group.labels = false
    sort = true
  }

  # CPU graph
  chart "cpu" {
    interval = 1000
    style = "cpu"
    value = XCpuUtilization
    tooltip = "CPU: " + Str(XCpuUtilization*100, 0) + "%"
  }

  # Memory usage text in GiB
  label "mem" {
    interval = 2000
    style = "mem"
    value = Str((XMemTotal - XMemFree - XMemCache - XMemBuff) / 1048576, 1) + " GiB"
    tooltip = "Memory: " + Str(XMemUtilization*100, 0) + "%"
  }

  widget "volume.widget" {
    simple_icon = True
  }

  widget "network.widget"

  widget "battery.widget" {
    device = 'BAT0'
    simple_icon = True
  }

  widget "clock.widget" {
    time_format = "%H:%M"
    tooltip_format = "%H:%M\n%x"
    week_starts_on_sunday = false
    reset_on_popup = false
  }

  tray {
    rows = 1
    css = "grid { -GtkWidget-column-homogeneous: false; }"
  }
}

#CSS
window#sfwbar {
  background-color: rgba(0, 40, 20, 0.7);
}

label {
  color: #ffffff;
}
